<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

    <!-- Navbar brand -->
    <div class="main-icon">
        <i class="fab fa-hornbill main-logo"></i>
        <a class="navbar-brand font-weight-bold" [routerLink]="[' ']">Confienza Voting</a>
    </div>


    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">

            <li class="nav-item font-weight-bold">
                <a class="nav-link" [routerLink]="['/aboutus']">About Us</a>
            </li>

            <li class="nav-item dropdown font-weight-bold">
                <a class="nav-link" *ngIf="!islogged" [routerLink]="['/login']" (click)="setUserType('user')">Dashboard</a>
                <a class="nav-link" *ngIf="islogged" [routerLink]="['/dashboard']">Dashboard</a>

            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" *ngIf="!islogged" [routerLink]="['/login'] " (click)="setUserType('user')">Security</a>
                <a class="nav-link" *ngIf="islogged" [routerLink]="['/digital-signature']">Security</a>
            </li>
            <!-- <li class="nav-item font-weight-bold">
                <a class="nav-link" *ngIf="!islogged" [routerLink]="['/login']" (click)="setUserType('meadia')">Distributed Access Point</a>
                <a class="nav-link" *ngIf="islogged" [routerLink]="['/distributed-access-point']">Distributed Access Point</a>
                
            </li> -->


        </ul>
        <!-- Links -->
        <div class="title">
            <marquee class="marque font-weight-bold" scrolldelay="400">{{title}}</marquee>
        </div>

        <div class="login">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link " id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle login-icon"></i>
                    </a>
                    <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" *ngIf="!islogged" [routerLink]="['/login']" (click)="setUserType('user')">
                            <i class="fas fa-sign-in-alt log-icon"></i> LogIn</a>
                        <a class="dropdown-item" *ngIf="islogged" (click)="logOut()">
                            <i class="fas fa-sign-out-alt log-icon"></i> logout</a>
                    </div>
                </li>
            </ul>

            <!-- <app-login></app-login> -->
        </div>
        <!-- <form class="form-inline">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form> -->
    </div>
    <!-- Collapsible content -->

</nav>
<router-outlet></router-outlet>