$nav-font:    20px !important;
$background-gradient: linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);

.navbar{
  background: $background-gradient;
}



.navbar a:hover {
  background: #005959;
  color: black;
}

.main-icon{
  margin-right: 75px;
  cursor: pointer;
  font-size: 41px;
  color: #90afc1;
  
}

.main-logo{
  margin-right: 10px;
}

.navbar-brand{
  font-size: 31px;
  font-style: oblique;
  color: #90afc1;
}

.nav-item{
  margin-right: 20px !important;
  font-size: $nav-font;
}

.dropdown-item{
  font-size: $nav-font;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #312626cc;
  color: white;
  text-align: center;
  height: 25px;
}

.marque{
  margin: 10px 0 0 0;
  margin-right:25%;
}

.mr-auto, .mx-auto {
 margin-right: 0px!important; 
}

.title{
  color: white;
  width: 30%;
  margin-left:auto; margin-right:0;
  font-size: 25px;
}

.login{
  margin: 2px 0 0 0;
}
.login-icon{
  font-size: 50px;
}

.dropdown-menu{
  right: 0;
  left: inherit;
  background: #003c3c;
  color: white;
  
}

.navbar .dropdown-menu a {
  color: white !important;
}

.log-icon{
  margin-right:15px;
}
