
.candidate-card{   
    height: 80px;
    background-color: rgba(41, 37, 37, 0.171);
    
    
}

.learderboad-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;

}

.user-photo{
    width: 20%;
    padding: 2%;
    border-radius: 10px 0 0 10px;
}

.user-name{
    width: 50%;
    padding: 0 0 0 2%;
   
}

.result-count{
    width: 30%;
    font-size: 23px;
    border-radius: 0 10px 10px 0;
    text-align: center;
}

.avatar{
    width: 7vh;
    height: 7vh;
    background-color: rgb(255, 255, 255); 
     
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
 
}

.candidate-name{
    font-size: 2vh;
}
.candidate-party{
    font-size: 1.75vh;

}

.modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.modal{
    margin-left: 10%;
    margin-right: 10%;
}

.logMsg{
    padding: 50px !important;
}