<table class="learderboad-table">
  <tr *ngFor="let candidate of candidateArray" class="candidate-card" data-toggle="modal" data-target="#exampleModal" (click)= "onCanidateClicked(candidate.id)">
    <td class="user-photo">
      <img class="avatar" [src]="candidate.pic">
    </td>
    <td class="user-name">
      <div class="candidate-name font-weight-bold">
        {{candidate.name}}
      </div>
      <div class="candidate-party">
        {{candidate.party }}
      </div>
    </td>
    <td class="result-count font-weight-bold">
      {{candidate.vote_count}}
    </td>
  </tr>
</table>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Vote Transaction Log</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body table-hover table-responsive" *ngIf="transactionLogArray.length !== 0">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Location Id</th>
              <th scope="col">Transaction Date</th>
              <th scope="col">Vote Count</th>
              <th scope="col">Block Number</th>
              <th scope="col">To Address</th>
              <th scope="col">From Address</th>
              <th scope="col">Transaction Hash</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let transaction of transactionLogArray" >
              <td>{{transaction.locId}}</td>
              <td>{{transaction.transactionDate}}</td>
              <td>{{transaction.voteCount}}</td>
              <td>{{transaction.blockNumber}}</td>
              <td>{{transaction.toAddress}}</td>
              <td>{{transaction.fromAddress}}</td>
              <td>{{transaction.transactionHash}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="transactionLogArray.length === 0" class="logMsg">
        <div >There is no transaction logs available.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>