

.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1rem;
    background: linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
}

.card-header-title{
    text-align: center;
    color: white
}

.initdata{
    text-align: left;
    margin-top: 40px;
}

.textarea-lable{
    font-size: 22px;
    font-weight: bold;
}

.user-icon{
    font-size: 25px;
    margin-right: 4%;
  }

.button-group{
  text-align: right
}

.func-button{
  margin-left: 1%;
  height: 50px;
  font-family: 'Rajdhani', sans-serif ;
  font-size: 18px;
  border-radius: 7px;
  background:linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
}

.status-div{
    width: 100%;
    height: 10vh;
    background-color:rgba(73, 169, 17, 0.43);
    box-shadow: 0px 0px 13px 0px #006c6c;
    border-radius: 10px;
    text-align: center;
    margin: 2% 0 2% 0 
}

.status-div-fail{
    width: 100%;
    height: 10vh;
    background-color: rgba(191, 43, 43, 0.73);
    box-shadow: 0px 0px 13px 0px #006c6c;
    border-radius: 10px;
    text-align: center;
    margin: 2% 0 2% 0 
}

.message{
    font-size: 40px;
    font-weight: 1000;
    padding: 1% 0 0 0 ;
    color: white
}

.button-field{
    text-align: right
}


#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

th{
    font-weight: 600;
}

.sp-row{
    border: none !important;
}