<div id="overlay" *ngIf="periodicalUpdateStatus">
  <div id="text">Result Will Be Display After {{endDate}}, 4.00 PM</div>
</div>

<div class="col-lg-12 col-md-12 main-component">
  <div class="card card-cascade narrower">
    <div class="view view-cascade  ">
      <h2 class="card-header-title font-weight-bold">Veryfy the security of the election data</h2>
    </div>
    <div class="card-body card-body-cascade text-center">

      <div class="col-lg-12 col-md-12 row">
        <div class="col-lg-6 col-md-6">
          <div class="col-lg-12 col-md-12">
            <div class="form-group ">
              <label class="textarea-lable">Public Key Of the System</label>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10" [(ngModel)]="publickey.content" disabled>
                          
              </textarea>
            </div>
          </div>
  
          <div class="col-lg-12 col-md-12">
            <div class="form-group ">
              <label class="textarea-lable">Digital Signature Of Current Situation</label>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="10" [(ngModel)]="signature" disabled>
                         
              </textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <label class="textarea-lable">Repoted Violations</label>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Time Stamp</th>
                <th>Details</th>
               
              </tr>
            </thead>
            <tbody *ngFor="let violationObj of violationArray">
              <tr>
                <td>{{violationObj.time.toDate()}}</td>
                <td class ='sp-row'>
                  
                    <tr class ='sp-row'>
                      <td *ngIf="violationObj.electionChangers !=''">{{violationObj.electionChangers}}</td>
                      <td *ngIf="violationObj.candidateChangers !=''">{{violationObj.candidateChangers}}</td>
                      <td *ngIf="violationObj.voteChangers !=''">{{violationObj.voteChangers}}</td>
                    </tr>
                 
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="row initdata">
        
      </div> -->
      <div class="button-group row">
        <!-- <div class="col-lg-12 col-md-12">
          <div class="form-group status-div" *ngIf="status.valid_status">
            <div class="message">Valid Election Data</div>
          </div>
          <div class="form-group status-div-fail" *ngIf="!status.valid_status">
            <div class="message">Invalid Election Data</div>
          </div>
        </div> -->
        <div class="button-field col-lg-12 col-md-12">
          <a class="btn-floating btn-lg purple-gradient animated bounce infinite" title="Download JSON" [href]="downloadJsonHref" download="download.json">
            <i class="fas fa-download user-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>