<div id="overlay" *ngIf="periodicalUpdateStatus">
    <div id="text">Result Will Be Display After {{endDate}}, 4.00 PM</div>
</div>

<div class="col-lg-12 col-md-12">
    <div class="card card-cascade narrower">
        <div class="view view-cascade row" *ngIf="privateElectionTypeFlag">
            <mat-form-field class="filter-field-first">
                <mat-select placeholder="Province" class="options" [(ngModel)]="selectedProvince" (ngModelChange)="onChangeProvince($event.value)">
                    <mat-option *ngFor="let province of provinceArr" [value]="province.value" class="options">
                        {{province.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-field">
                <mat-select placeholder="District" class="options" [(ngModel)]="selectedDistrict" (ngModelChange)="onChangeDistrict($event.value)">
                    <mat-option *ngFor="let district of districtArr" [value]="district.value" class="options">
                        {{district.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="filter-field">
                <mat-select placeholder="Palath Saba" class="options" [(ngModel)]="selectedPalathsaba" (ngModelChange)="onChangePalathsaba($event.value)">
                    <mat-option *ngFor="let palathsaba of palathsabaArr" [value]="palathsaba.value" class="options">
                        {{palathsaba.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <a class="btn-floating  purple-gradient refresh-button" (click)="refreshData()" *ngIf="!buttonBounce">
                <i class="fas fa-sync-alt"></i>
            </a>
            <a class="btn-floating  purple-gradient refresh-button animated tada infinite" (click)="refreshData()" *ngIf="buttonBounce">
                <i class="fas fa-sync-alt"></i>
            </a>
        </div>

        <div class="card-body card-body-cascade main-container">

            <div class="row">
                <!-- {{showLeaderboardFlag}} -->
                <div class="col-lg-3 col-md-3" *ngIf="showLeaderboardFlag">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade  ">
                            <h4 class="card-header-title">Leader Board</h4>
                        </div>
                        <div class="card-body card-body-cascade  leader-board">
                            <app-leader-board></app-leader-board>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6" *ngIf="showLeaderboardFlag">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade  ">
                            <h4 class="card-header-title" *ngIf="privateElectionTypeFlag">Party wise Election Result</h4>
                            <h4 class="card-header-title" *ngIf="!privateElectionTypeFlag">Candidate wise Election Result</h4>
                        </div>
                        <div class="card-body card-body-cascade text-center main-graph chart-card">
                            <app-vote-summary-line-chart></app-vote-summary-line-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3" *ngIf="showLeaderboardFlag">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade  ">
                            <h4 class="card-header-title">Voter Turnout</h4>
                        </div>
                        <div class="card-body card-body-cascade  turnout">
                            <app-vote-turnout-chart></app-vote-turnout-chart>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8" *ngIf="!showLeaderboardFlag">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade  ">
                            <h4 class="card-header-title" *ngIf="privateElectionTypeFlag">Party wise Election Result</h4>
                            <h4 class="card-header-title" *ngIf="!privateElectionTypeFlag">Candidate wise Election Result</h4>
                        </div>
                        <div class="card-body card-body-cascade text-center main-graph chart-card">
                            <app-vote-summary-line-chart></app-vote-summary-line-chart>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4" *ngIf="!showLeaderboardFlag">
                    <div class="card card-cascade narrower">
                        <div class="view view-cascade  ">
                            <h4 class="card-header-title">Voter Turnout</h4>
                        </div>
                        <div class="card-body card-body-cascade  turnout">
                            <app-vote-turnout-chart></app-vote-turnout-chart>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn-floating rss-button blue-gradient animated bounce infinite" (click)="opentab()">
                <i class="fas fa-rss"></i>
            </a>
        </div>

    </div>

</div>