$screen-height : 76vh;
div div div.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -0.5rem; // background: linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 53%, rgba(0, 26, 26, 1) 62%, rgba(0, 128, 128, 1) 97%, rgba(0, 128, 128, 1) 100%);
}

.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -0.8rem; // background: linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
    background-color: rgb(218, 217, 217);
}

.card-header-title {
    text-align: center;
    color: white
}

.demo-chart {
    height: 400px;
}

.leader-board {
    height: $screen-height;
    overflow-y: scroll;
}

.main-graph {
    height: $screen-height;
}

.turnout {
    height: $screen-height;
}

.main-container {
    margin-top: -25px;
}

.filter-field {
    width: 25%;
    font-family: 'Rajdhani', sans-serif;
    margin: 0% 0% 0% 4%;
}

.filter-field-first {
    width: 25%;
    font-family: 'Rajdhani', sans-serif;
    margin: 0% 0% 0% 6%;
}

.refresh-button{
    margin-left: 4%;
}

.number-card {
    height: 25vh;
}

.options {
    font-family: 'Rajdhani', sans-serif;
}

.rss-button{
    position: fixed;
    // width: 50%;
    bottom: 10px;
    right: 10px;
    // border: 3px solid #8AC007;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}