.party-container {
    width: 100%;
    height: 23.5vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
   // margin-top: 3vh;
}

.single-party {
    width: 19vh;
    height: 19vh;
    margin: 0 0 0 20px;
    border-radius: 8px;
    background-color: rgba(41, 37, 37, 0.171);
    display: inline-table;
}

.short-name {
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 8px 8px 0 0;
}

.icon {
    width: 100%;
    height: 50%;
    text-align: center;
}

.avatar {
    width: 7vh;
    height: 7vh;
    margin: 5%;
   
}

.long-name {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border-radius: 0 0 8px 8px;
    padding: 0 0 0 3%;
    display: block;
    white-space: normal;
    text-align: center;
}

// .demo-chart{
//     margin-top: -8% !important;
// }

