<div echarts [options]="linechart_option" class="demo-chart">
</div>
<div class="party-container">
    <marquee behavior="scroll" scrolldelay="80">
        <div class="single-party" *ngFor="let party of partyArray">

            <div class="short-name font-weight-bold">
                {{party.sname}}
            </div>
            <div class="icon">
                <img class="avatar" [src]="party.avatar">
            </div>
            <div class="long-name ">
                {{party.lname}}
            </div>
        </div>
    </marquee>
</div>