<div echarts [options]="option" class="demo-chart"></div>
<div class="turonout-table-container">
    <table class="turonout-table">
        <tr class="turnout-card-first">
            <td class="detail font-weight-bold">
                <span class="detail-lable">Eligible Vote Count</span>
            </td>
            <td class="value">{{max_limit}}</td>
        </tr>
        <tr class="turnout-card">
            <td class="detail font-weight-bold  ">
                <span class="detail-lable"> Voted Vote Count</span>
            </td>
            <td class="value">{{voteCount}}</td>
        </tr>
    </table>
</div>