.turonout-table-container{
    width: 100%;
    height: 10vh;
    //margin-top: 3vh;
}

.turonout-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

.turnout-card{
    height: 60px;
    background-color: #dad9d9;
}

.turnout-card-first{
    height: 60px;
    background-color: #dad9d9;
}

.detail{
    width: 70%;
    margin: 0 0 0 10px;
    border-radius: 10px 0 0 10px;
    font-size: 22px;
}

.value{
    width: 30%;
    font-size: 23px;
    border-radius: 0 10px 10px 0;
    text-align: center;
}

.detail-lable{
    padding: 0 0 0 10%;
}