<div class="backgroud-wrap">

  <video id="video-bg-elem" preload="auto" autoplay="true" loop="loop" [muted]="mute">
    <source src="https://s3.amazonaws.com/it15116420awabucket/blockchain.mp4" type="video/mp4"> video Not Supported
  </video>

</div>

<div class="col-lg-12 col-md-12">
  <div class="card card-cascade narrower  benifit-wrapper">
    <div class="card-body card-body-cascade text-center">
      <div class="benifit-title">
        ConfianzaV Features
      </div>
      <div class="row  profites">
        <div class="col-lg-3 col-md-3 single-card" *ngFor="let item of benifits">
          <div class="card card-cascade narrower">
            <div class="card-body card-body-cascade  leader-board">
              <div class="icon">
                <img class="avatar" [src]="item.icon">
              </div>
              <div class="title card-header-title">
                {{item.title}}
              </div>
              <div class="content">
                {{item.content}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-lg-12 col-md-12 result-intro-rap row">
  <div class="discription col-lg-6 col-md-6">
    <div class="intro-title">
      {{result_intro.title}}
    </div>
    <div class="intro-body">
      <p>
        {{result_intro.content}}
      </p>
    </div>
  </div>
  <div class="video col-lg-4 col-md-4">
    <video id="video-bg-elem" [muted]="mute" controls>
      <source [src]="result_intro.video_path" type="video/mp4"> video Not Supported
    </video>
  </div>
</div>

<div class="col-lg-12 col-md-12">
  <div class="card card-cascade narrower  benifit-wrapper">
    <div class="card-body card-body-cascade text-center">
      <div class="addtional_features-title">
          Deliverables Of The System
      </div>
      <div class="row  secial_features">
        <div class="col-lg-5 col-md-5 single-card" *ngFor="let item of addtional_features">
          <div class="card card-cascade wider">
            <div class="view view-cascade overlay">
              <video id="video-bg-elem" [muted]="mute" controls class="card-img-top" alt="Card image cap">
                <source [src]="item.video_path" type="video/mp4"> video Not Supported
              </video>
            </div>
            <div class="card-body card-body-cascade text-center">
              <h4 class="card-title">
               <strong>{{item.title}} </strong>
              </h4>
              <p class="additiona-features_card-text">{{item.content}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    http://18.220.174.57:8989/ipfsfileuploader/
  </div>

