.card-style{
    background:linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
}

.card-header-title{
    font-size: 40px
}

.card-text{
    font-style: bold;
    font-size: 17px;
}

.card.card-cascade.narrower {
    margin-top: 1.6rem;
}

#video-bg-elem{
   // position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.7)
}

.backgroud-wrap{
   // position: fixed;
   // z-index: -1000;
    width: 100%;
    height: 100%;
    // background-color: rgba(0,0,0,0.7);
    // z-index: 1000;

}

::-webkit-scrollbar {
    display: none;
}

.benifit-title{
    font-size: 40px;
    margin: 0 0 1% 0;
    font-weight: 1000;
}
.benifit-wrapper{
    background-color: #00767617 !important;
}
.profites{
    display: flex;
    justify-content:center ;
    padding: 0 0 2% 0;
    
}

.secial_features{
    display: flex;
    justify-content:space-evenly ;
    padding: 0 0 2% 0;
}

.avatar{
    width: 48px;
    height: 48px;
}

.icon{
    margin: 0 0 3% 0;
}

.title{
    font-size: 30px;
    margin: 0 0 3% 0;
    font-weight: 1000;
}

.addtional_features-title{
    font-size: 40px;
    margin: 1% 0 4% 0;
    font-weight: 1000;
}

.content{
    padding: 8%;
    font-size: 18px;
}

.result-intro-rap{
    margin: 50px 0 0 0;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.discription{
    height: 100%;
}
.intro-title{
    height: 10%;
    margin: 4% 0 0 0;
    width: 100%;
    font-size: 45px;
    font-weight: 1000;
    background: linear-gradient(90deg, rgba(11,158,148,0.95) 0%, rgba(11,158,148,0.95) 4%, rgba(125,205,198,1) 45%, rgba(169,223,217,0.95) 61%, rgba(245,255,251,0.95) 88%);
    padding: 0 0 6.5% 1%;
}

.intro-body{
    height: 60%;
    margin: 2% 0 2% 0;
    width: 100%;
    font-size: 18px;
}

.video{
    height: 74%;
    background-color: #00767617 ;
    margin: 2% 0 0 0;
    padding: 1%;
    border-radius: 10px;    
}

.additiona-features_card-text{
    font-size: 15px;
}
