<div class="login-container row">
    <div class="login-form">

    </div>

    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height" class="particle-elem">

    </particles>
    <div class="card card-cascade login-card">

        <div class="view view-cascade gradient-card-header">
            <h2 class="card-header-title mb-3">Confienza Voting Login</h2>
        </div>
        <div class="card-body card-body-cascade text-center">
            <form [formGroup]="form" (ngSubmit)="login()">
                <mat-form-field class="filter-field-election">
                    <mat-select placeholder="Select ELection" class="options" formControlName="election">
                        <mat-option *ngFor="let election of electionArray" [value]="election" class="options">
                            {{election.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="email">
                    <mat-form-field class="email-full-width">
                        <input matInput type="email" placeholder="Email" formControlName="email" />
                    </mat-form-field>
                </div>
                <div class="password">
                    <mat-form-field class="password-full-width">
                        <input matInput type="password" placeholder="Password" formControlName="password" />
                    </mat-form-field>
                </div>

                <button mat-raised-button type="submit" class="submit-button">Login</button>
            </form>
        </div>

    </div>