.login-container{
    width: 100%;

}

.login-form{
    width: 50%;
}

.particle-elem{
    width: 50%;
    background-color: black;
}

.card{
    width: 40% !important;
    height: 50vh !important;
    margin: 20vh 0 0 30% !important;
    background-color: rgba(253, 247, 247, 0.74);
    box-shadow: 0px 0px 13px 0px rgb(0, 108, 108);
}

.card.card-cascade .view.gradient-card-header{
    padding: 10px 0 0 0 !important;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 53%, rgba(0, 26, 26, 1) 62%, rgba(0, 128, 128, 1) 97%, rgba(0, 128, 128, 1) 100%);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
  }
  
  .email-full-width {
    width: 60%;
    margin-top: 2vh;
  }

  .password-full-width {
    width: 60%;
    margin-top: 2vh;
    margin-bottom: 4vh;
  }

  .submit-button{
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 53%, rgba(0, 26, 26, 1) 62%, rgba(0, 128, 128, 1) 97%, rgba(0, 128, 128, 1) 100%);
    color: white;
    border-radius: 8px; 
    width: 24%;
    font-size: 24px;
    font-family: 'Rajdhani', sans-serif;
  }

  .filter-field-election{
    width: 60%;

  }
