.table-header{
    background: linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
    height: 45px;
    font-size: 25px;
    margin-top: -2.7rem;
}