<div id="overlay" *ngIf="periodicalUpdateStatus">
  <div id="text">Result Will Be Display After {{endDate}}, 4.00 PM</div>
</div>
<div class="col-lg-12 col-md-12">
  <div class="card card-cascade narrower">
    <div class="view view-cascade  ">
      <h2 class="card-header-title font-weight-bold">Distributed Access Point For Medias</h2>
    </div>
    <div class="card-body card-body-cascade text-center">


      <div class="row initdata">
        <div class="col-lg-12 col-md-12">

          <div class="api-path col-lg-12 col-md-12">
            <mat-form-field>
              <input matInput placeholder="URL for accesing data" value="">
              <a [href]="URL">{{URL}}</a>
            </mat-form-field>
          </div>


          <div class="form-group ">
            <label class="textarea-lable">Electin data which contain in the URL</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="22" [(ngModel)]="xmlData">
                         
              </textarea>
          </div>
        </div>

        <!-- <div class="col-lg-6 col-md-6">
            <div class="form-group ">
              <label class="textarea-lable">Digital Signature Of Current Situation</label>
              <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="10" disabled>
                         
              </textarea>
            </div>
          </div>
        </div> -->


        <!-- <div class="button-group">
          <button mat-raised-button color="primary" class="func-button">
              <i class="fas fa-cogs user-icon"></i>
              Generate Digital Signature
          </button>
          <button mat-raised-button color="primary" class="func-button">
              <i class="fas fa-download user-icon"></i>
           Download Current Resutls
          </button>
          <button mat-raised-button color="primary" class="func-button" 
          [swal]="{ 
            title: 'Sweet!',
            text: 'Modal with a custom image.',
            imageUrl: 'https://unsplash.it/400/200',
            imageWidth: 400,
            imageHeight: 200,
            imageAlt: 'Custom image',
            animation: true
           }"
          >
              <i class="far fa-eye user-icon"></i>
              Veryfy Data
            </button>
        </div> -->
      </div>
    </div>
  </div>