.card.card-cascade.narrower .view {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -1rem;
    background: linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
}

.card-header-title{
    text-align: center;
    color: white
}

.initdata{
    text-align: left;
    margin-top: 40px;
}

.textarea-lable{
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
}

.user-icon{
    font-size: 25px;
    margin-right: 4%;
  }

.button-group{
  text-align: right
}

.func-button{
  margin-left: 1%;
  height: 50px;
  font-family: 'Rajdhani', sans-serif ;
  font-size: 18px;
  border-radius: 7px;
  background:linear-gradient(45deg, rgba(0,0,0,1) 53%, rgba(0,26,26,1) 62%, rgba(0,128,128,1) 97%, rgba(0,128,128,1) 100%);
}

.api-path{
    width: 100%;
    mat-form-field{
        width: 100%;
        font-family: 'Rajdhani', sans-serif ;
        font-size: 23px;
        
    }
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
