/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    font-family: 'Rajdhani', sans-serif ;
    //margin-top: 6%;
    
}

// .mat-form-field-appearance-legacy .mat-form-field-label {
//     color: rgb(0, 0, 0) !important;
//     font-weight: 700;
//     font-size: 25px;
// }
::-webkit-scrollbar {
    display: none;
}